.upcoming-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 20%;
}
.upcoming-section h3 {
    align-self: flex-start;
}
.card{
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px;
    
}
.upcoming-background {
    display: flex;
    align-items: flex-end;
    min-width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center;
    font-size: 10px;
    color: #fff;
    
}
.upcoming-background p {
    background-color: #06030361;
    flex-grow: 1;
    margin: 0px;
    padding: 10px;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-wrap: wrap;

}
.card-details{
    font-size: 10px;
}
h4{
    font-size: 15px;
}
.distance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .card{
        width: 80%;
    }
    .upcoming-background{
        max-width: 260px;
    }
    .upcoming-section{
        margin-top: 35%;
    }
}